# **Experiment 1: Python Installation and starting with python**

**1. Install Python and understand the difference between scripting and interactive modes in IDLE.**

   **Interactive Mode:**
   Interactive programming means executing code directly in the Python terminal Each line of code runs immediately and displays the output instantly. In this mode, writing long or continuous interlinked programs is not practical. There is also no need to save the code before running it.

   **Script Mode:**
   In script mode, the complete program is written in a file and then executed all at once The file must be saved before execution To run a Python script, we use a terminal command such as **`python <file_name>`**, which instructs the Python interpreter to execute the entire program.

**2. Write Python programs to print strings in the given manner:**  
**a)   Hello Everyone !!!**  
**b)   Hello**  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**World**  
**c)   Hello**  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**World**  
**d) ‘ Rohit’ s date of birth is 12\05\1999’**

In [1]:
print("Hello Everyone !!!")

Hello Everyone !!!

In [2]:
print("Hello \nWorld")

Hello
World

In [3]:
print("Hello\n\tWorld")

Hello
	World

In [4]:
print("'Rohit's date of birth is 12\\05\\1999'")

'Rohit's date of birth is 12\05\1999'

**3. Declare a string variable called x and assign it the value “Hello”. Print out the value of x**

In [5]:
x="Hello"
print(x)

Hello

**4. Take different data types and print values using print function.**

In [6]:
a=23
b="Sanyam"
c=15
d=True
print(a)
print(b)
print(c)
print(d)

23
Sanyam
15
True

**5. Take two variables, a and b. Assign your first name and last name. Print your Name after adding your First name and Last name together.**

In [7]:
f_name="Sanyam"
l_name="Sethia"
print(f_name+" "+l_name)

Sanyam Sethia

**6. Declare three variables, consisting of your first name, your last name and Nickname. Write a program that prints out your first name, then your nickname in parenthesis and then your last name.**    
**Example output: George (woody) Washington.**

In [8]:
f_name="George"
m_name="R.R."
l_name="Martin"
print(f_name+" ("+m_name+") "+l_name)

George (R.R.) Martin

**7. Declare and assign values to suitable variables and print in the following way:** 
**NAME: NIKUNJ BANSAL**    
**SAP ID: 500069944**  
**DATE OF BIRTH: 13 Oct 1999**  
**ADDRESS: UPES**  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**Bidholi Campus**  
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**Pincode: 248007**  
**Programme:AI & ML**                    
**Semester: 2**

In [9]:
name="NIKUNJ BANSAL"
id=590024814
dob="13 Oct 1999"
add="UPES\n\tBidholi Campus\n\tPincode: 248007"
prog="AI & ML"
sem=2
print("NAME:", name)
print("SAP_ID:", id)
print("DATE OF BIRTH:", dob)
print("ADDRESS:", add)
print("PROGRAMME:", prog)
print("SEMESTER:", sem)

NAME: NIKUNJ BANSAL
SAP_ID: 590024814
DATE OF BIRTH: 13 Oct 1999
ADDRESS: UPES
	Bidholi Campus
	Pincode: 248007
PROGRAMME: AI & ML
SEMESTER: 2